*{
    box-sizing: border-box;/*注意这个*/
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    height: 100%;
    width: 100%;
    --title-height: 50px;
    --sidenavwidth: 322px;
    --chartheight: 500px;
    --chartwidth: 700px;
    --bordercolor:rgb(179, 179, 179);
}

body {
    background: rgb(239, 239, 239);  
    height: 100%;
    width: 100%;
}

.menu {
    z-index: 1;
    position: fixed;
    border: var(--bordercolor) solid 2px;
}

#title {
    top: 0;
    left: 0;
    width: 100%;
    height: var(--title-height);
    background: white;
    border-width:0px 0px 2px 0px;

}

#titleContent {
    position: absolute;
    top: 50%;
    left: 10px;
    height: var(--title-height);
    margin-top: -25px;
    font-size:30px;
    font-weight: lighter;
}

#sidenav {
    float: right;
    top: var(--title-height);
    right: 0px;
    height: calc(100vh - var(--title-height));
    width: var(--sidenavwidth);
    background: yellow;
    text-align: left;
    overflow: scroll;
    border-width:0px 0px 0px 2px;
}

#chart {
    z-index: 0;
    width: calc(100vw - var(--sidenavwidth));
    height: calc(100vh - var(--title-height));
    position: absolute;
    top:var(--title-height);
    left:0;    
    overflow: scroll;
    background: rgb(240, 240, 240);
}
#chartContent{
    position: absolute;
    top:50%;
    left:50%;
    width:var(--chartwidth);
    height:var(--chartheight);
    transform: translate(-50%,-50%);
    background: white;
}

#sidenavMenu{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:50px;
    background: lightgray;
}
#sidenavContent{
    position:absolute;
    top:50px;
    left:0px;
    width:100%;
    height:calc(100% - 50px);
    background: lightyellow;
    display: flex;/*通过a标签锚点定位切换页面，https://blog.csdn.net/m0_53016870/article/details/126582766 */
    overflow:hidden
}
.sidenav-button{
    text-align: center;
    background: white;
    border: var(--bordercolor) solid 1px;
    border-width:0px 1px 1px 0px;
    height:100%;
    width:80px;
    float:left;
    padding:10px 0px 0px 0px;
    text-decoration: none;
}
.sidenav-button-clicked{
    text-align: center;
    background: rgb(246, 246, 246);
    border: var(--bordercolor) solid 1px;
    border-width:0px 1px 0px 0px;
    height:100%;
    width:80px;
    float:left;
    padding:10px 0px 0px 0px;
    text-decoration: none;
}
.content-page{
    width:var(--sidenavwidth);
    height:100%;
    background: rgb(246, 246, 246);
    flex-shrink: 0;
    overflow:scroll;
    padding: 15px;
}

.editor-box{
    margin-top: 20px;
    background: white;
    border:var(--bordercolor) solid 1px;
}
.editor-box-hidden{
    height:0px;
    overflow: hidden;
}
.editor-box-content{
    height:fit-content;
    overflow: hidden;
}
.editor-box-title{
    padding:5px 10px 5px 10px;
    height:42px;
    width:100%;
    font-size:18px;
    font-weight:bold;
}
.editor-box-row{
    padding:5px 10px 5px 10px;
    height:40px;
    width:100%;
    font-size:18px;
    border:var(--bordercolor) solid 1px;
    border-width:1px 0px 0px 0px;
}
/*  dwq  */

/*  dwq  */

/*  cz   */

/*  cz   */

/*  gff   */

/*  gff   */