*{
    box-sizing: border-box;/*注意这个*/
    margin: 0;
    padding: 0;
    border: 0;
}
:root{
    --title-height: 50px;
    --sidenavwidth: 322px;
    --chartheight: 500px;
    --chartwidth: 700px;
    --bordercolor:rgb(179, 179, 179);
}
html {
    height: 100%;
    width: 100%;
    
}

body {
    background: rgb(239, 239, 239);  
    height: 100%;
    width: 100%;
}

.menu {
    z-index: 1;
    position: fixed;
    border: var(--bordercolor) solid 2px;
}

#title {
    top: 0;
    left: 0;
    width: 100%;
    height: var(--title-height);
    background: white;
    border-width:0px 0px 1px 0px;
    box-shadow: -1px 1px  5px rgb(210, 210, 210);

}

#titleContent {
    position: absolute;
    top: 50%;
    left: 10px;
    height: var(--title-height);
    margin-top: -25px;
    font-size:30px;
    font-weight: lighter;
}

#sidenav {
    float: right;
    top: var(--title-height);
    right: 0px;
    height: calc(100vh - var(--title-height));
    width: var(--sidenavwidth);
    text-align: left;
    overflow: hidden;
    border-width:0px 0px 0px 1px;
    box-shadow: -1px 1px  5px rgb(210, 210, 210);
}

#chart {
    z-index: 0;
    width: calc(100vw - var(--sidenavwidth));
    height: calc(100vh - var(--title-height));
    position: absolute;
    top:var(--title-height);
    left:0;    
    overflow: scroll;
    background: rgb(240, 240, 240);
}
#chartContent{
    position: absolute;
    top:50%;
    left:50%;
    width:var(--chartwidth);
    height:var(--chartheight);
    transform: translate(-50%,-50%);
    background: white;
}

#sidenavMenu{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:50px;
    background-color: white;
}
#sidenavContent{
    position:absolute;
    top:50px;
    left:0px;
    width:100%;
    height:calc(100% - 50px);
    display: flex;/*通过a标签锚点定位切换页面，https://blog.csdn.net/m0_53016870/article/details/126582766 */
    overflow:hidden;
}
.sidenav-button{
    text-align: center;
    color:rgb(152, 152, 152);
    font-weight: bold;
    background: white;
    border: var(--bordercolor) solid 1px;
    border-width:0px 1px 1px 0px;
    height:100%;
    width:80px;
    float:left;
    padding:10px 0px 0px 0px;
    text-decoration: none;
}
.sidenav-button-clicked{
    text-align: center;
    color:rgb(77, 77, 77);
    font-weight: bold;
    background: rgb(246, 246, 246);
    border: var(--bordercolor) solid 1px;
    border-width:0px 1px 0px 0px;
    height:100%;
    width:80px;
    float:left;
    padding:10px 0px 0px 0px;
    text-decoration: none;
    box-shadow: -1px 0px 5px rgb(210, 210, 210);
}
.content-page{
    width:var(--sidenavwidth);
    height:100%;
    background: rgb(246, 246, 246);
    flex-shrink: 0;
    overflow-y:scroll;
    padding: 15px;
}
::-webkit-scrollbar {
    display: none;
}
/*  dwq  */
#dataInputTable,#dataInputTable td,#dataInputTable th{
    border:1px solid black;
}
#dataInputTable{
    border-collapse: collapse;
}
#dataInputTable td,#dataInputTable th{
    width:200px;
    text-align: center;
}
/*  dwq  */

/*  cz   */

/*  cz   */

/*  gff   */
/* 下拉框的样式 */
select {
    font-size: 18px;
    color: #333;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    width: 200px;
  }
  
  /* 下拉框选项的样式 */
  option {
    font-family: Arial, sans-serif;
    color: rgb(51, 51, 51);
    /*一个待解决的小问题*/
    /*感觉现在下拉框选项高度有点小而且太圆了，理论上是用下面两个参数调整的但是因为浏览器的默认样式，在google和edge浏览器里无法改变，在firefox浏览器里只能变第二个*/
    height: 50px;
    border-radius: 0px;
    /*所以选择了用增大字号来撑大下拉框选项*/
    font-size: 20px;
  }
  
/*  gff   */